<h2>Bonjour Emmanuelle,</h2>


<p>Vous avez recu un nouveau message sur le site.</p>

<p>Pour le valider cliquez ici :
<a href="www.krabbelstuff.herokuapp.com/admin"%> admin </p>

<p>Excellente journée</p>

