.banner-description{
  // background: #70ad47;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align:center;
}

#banner-distributed{
  width: 100%;
  text-align: left;
  font: 14px sans-serif;
  padding: 20px;
  border-radius: 4px;
}
#banner-left{
  width:50%;
  display:inline-block;
  vertical-align:top;
  float:left;
}
#banner-right{
  width:50%;
  display:inline-block;
  vertical-align:top;
}

// #banner-right img{
//   width:640px;
//   height: 400px;
// }
#banner-distributed ul{
   list-style:none;
   text-align:center;
   font-family: 'Oleo Script';
   font-size: 20px;
   color:#DCD7D7,#70ac48,#F7F25B;
 }
.banner-down-center {
text-align:center;
font-size:23px;
margin-top:20px;
}

@media (max-width: 600px) {
  #banner-distributed{
    font: bold 14px sans-serif;
  }

  #banner-distributed #banner-left,
  #banner-distributed #banner-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-left:0px;
    margin-right:0px;
  }

  #banner-distributed #banner-right .image-carousel{
width:100%;
margin-left:0px;
    margin-right:0px;
  }


#banner-distributed #banner-right .image-carousel .inner{
  width:100%;
}


}
