

// .banner-description{
  // background: #70ad47;
  // padding: 10px;
  // margin-bottom: 10px;
  // border-radius: 4px;
  // text-align:center;
// }

// #banner-distributed{
//   width: 100%;
//   text-align: left;
//   font: 14px sans-serif;
//   padding: 20px;
//   border-radius: 4px;
// }

#banner-distributed ul{
   list-style:none;
 }

//-----------------//
//|banner commun   |//
//-----------------//
#banner-left, #banner-right{
  width:50%;
  display:inline-block;
  vertical-align:top;
  text-align:center;
}

#banner-left img, #banner-right img {
width:640px;
 height: 400px;
 border-radius: 10px;
}


//-----------------//
//|banner left    |//
//-----------------//

#banner-left{
  float:left;
}


//-----------------//
//|banner right    |//
//-----------------//

// #banner-left ul {
//  margin-bottom:0px;
// padding:0px;
// }

//-----------------//
//|banner center  |//
//-----------------//
.banner-down-center {
text-align:center;
font-size:23px;
// margin-top:0px;
}


//-------------------//
//|banner responsive|//
//-------------------//

@media (max-width: 880px) {
  #banner-distributed{
    font: bold 14px sans-serif;
  }

  #banner-distributed #banner-left ,
  #banner-distributed #banner-right{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-left:0px;
    margin-right:0px;
  }

.banner-down-center {
text-align:center;
font-size:15px;
margin-bottom:15px;
}
 #banner-distributed #banner-left img,  #banner-distributed #banner-right img{
  width:100%;
 }

  #banner-distributed #banner-right .image-carousel{
width:100%;
margin-left:0px;
    margin-right:0px;
  }


#banner-distributed #banner-right .image-carousel .inner img{
   width:100%;
}


}
