

// .banner-description{
  // background: #70ad47;
  // padding: 10px;
  // margin-bottom: 10px;
  // border-radius: 4px;
  // text-align:center;
// }

#banner-distributed{
  // background-co: ;lor: red;
  text-align: center;
  font: 14px sans-serif;
  padding: 20px;
  border-radius: 4px;
    height:450px;

}

#banner-distributed ul{
   list-style:none;

 }

//-----------------//
//|banner commun   |//
//-----------------//
#banner-left, #banner-right{
  display:inline-block;
  vertical-align:middle;
  width:49%;
}
#banner-left{
height:400px;
// background-color:blue;
}

#banner-right{
  // background-color:yellow;
height:300px;
}

#banner-left img, #banner-right img{
 border-radius: 10px;
text-align:center;
height:300px;
margin:auto;
}
#banner-left img{
height:400px;

}
#banner-left ul,#banner-right ul{
  margin-bottom:0px;
}


//-----------------//
//|banner left    |//
//-----------------//




//-----------------//
//|banner right    |//
//-----------------//


//-----------------//
//|banner center  |//
//-----------------//
.banner-down-center {
text-align:center;
font-size:23px;
// margin-top:0px;
}


//-------------------//
//|banner responsive|//
//-------------------//

@media (max-width: 880px) {
  #banner-distributed{
    font: bold 14px sans-serif;
  }

  #banner-distributed #banner-left ,
  #banner-distributed #banner-right{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    margin-left:0px;
    margin-right:0px;
  }

.banner-down-center {
text-align:center;
font-size:15px;
margin-bottom:15px;
}
 #banner-distributed #banner-left img,  #banner-distributed #banner-right img{
  height:100%;
 }

  #banner-distributed #banner-right .image-carousel{
width:100%;
margin-left:0px;
    margin-right:0px;
  }


// #banner-distributed #banner-right .image-carousel .inner img{
//    width:100%;
// }


}
