#carrousel{
  width: 712px;
  height: 400px;
  margin: 0 auto;
  position:relative;
}
.slide{
  position: absolute;
  top:0;
  display: inline;
  text-align: center;
  width:712px;
  height:400px;
}

.title{
  position: absolute;
  padding-left:12px;
  width:700px;
  line-height: 35px;
  height:35px;
  bottom:0;
  left:0;
}

.navigation{
  position: absolute;
  bottom:38px;
  right:5px;
 }

.navigation span{
  background:#000;
  color:#fff;
  padding: 2px 4px;
  cursor: pointer;
 }
.navigation span:hover,.navigation span.active{
  background:#fff;
  color:#000;
 }


.slide img {
height:400px;
}

