/* Responsive carousel */
.carousel-data {
    display: none;
}
.carousel-wrapper {
    display: inline-block;
    margin: 0 0 20px;
}
.carousel-image-title {
    box-shadow: 0 0 10px #444;
    border-radius: 7px;
    margin-bottom: auto;

    position: relative;
    background-color: white;
}
.carousel-image {
    font-size: 0;
}
.carousel-image-title img {
    border: 0;
    border-radius: 7px;
    width: 100%;
}
.carousel-title {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 7px 7px;
    bottom: 0;
    left: 0;
    padding: 4px 10px;
    position: absolute;
    text-align: left;
    width: 96%;
}
.carousel-nav {
    overflow: hidden;
    padding: 4px;
}
.cnav-button {
    background-color: #ddd;
    border-radius: 5px;
    box-shadow: 0 0 3px #333;
    cursor: pointer;
    float: left;
    font-weight: bold;
    line-height: 25px;
    margin: 0 10px 0 0;
    padding: 0 10px;
}
.cnav-button:hover {
    background-color: #F4F4F4;
}
.cnav-button.current-cnav {
    background-color: #666;
    color: #EEE;
}

/* Responsive Carousel code */
@media (max-width: 880px) {
    .carousel-title {
        position: relative;
    }
    .carousel-image-title img {
        border-radius: 7px 7px 0 0;

    }
}
