
.footer-description{
  background-color: #299727;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align:center;
}

#footer-distributed{
  font: 14px sans-serif;
  padding: 20px;
  border-radius: 4px;
}

 //-----------------//
//|banner commun   |//
//-----------------//
 #footer-right, #footer-left{
  width: 49%;
  display:inline-block;
}

#footer-distributed #footer-right ul, #footer-distributed #footer-left ul{
  display: inline-block;
  color: black;
  vertical-align: middle;
  font-weight: bold;
  font-size:14px;
  line-height:20px;
  list-style:none;
}

//-------------------//
//|Footer responsive|//
//-------------------//
@media (max-width: 880px) {
  #footer-distributed{
    font: bold 14px sans-serif;
    text-align: left;
  }

  #footer-distributed #footer-left,
  #footer-distributed #footer-right{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }

}
