/*general*/
body{
  background:linear-gradient(#70ac48,#F7F25B );
  font:18px/1.5;
  font-family: 'New Century Schoolbook', serif;
  color:black;
}

h1, h2, h3{
  font-family: 'New Century Schoolbook', serif;
}
h1{
  color: #DD02A7;
  font-size: 38px;
  font-weight:bold;
}
h2 .citation{
  color:black;
}


h2{
  color:#DD02A7;
  font-size: 25px;
  line-height: 40px;
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
}



h3{
  color:black;
  font-size: 20px;
  font-weight: 300;
}

h5{
  color:#3B5998;
}

p{
  text-align: justify;
  color: black;
}

a{/*a revoir*/
  color: black;
  text-decoration: none;
}

i{
color:blue;


}

.notice{
  color:red;
  font-size:20px;
  font-weight:bold;
 text-align:center;
}
.changement{
  color:blue;
  font-size:20px;
  text-align:center;
}

.texte_centre{
  text-align:center;
}

/*banner & footer*/
.container-fluid{
  width: 100%;
  margin: 18px auto;
}

#content{
  margin-left: 0px;
}
.mission{
  color:#3B5998;
}

 /*body*/
 /*general*/

.card-description{
  // background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 10px;
  border-radius: 4px;
  // box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card-description ul, .card-description p{
font-size:18px;

}


  /* menu deroulant*/

.barre {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.barre > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.barre > li > a > img:hover, .barre > li > a > img:focus {
  text-decoration: none;
  background-color: #eeeeee;
 border-radius: 50%;
}
.barre-justified{
  width:20%;
}
.barre-justified, .barre-tabs.barre-justified {
  width: 100%;
}

.barre-justified > li > a , .barre-tabs.barre-justified > li > a {
  text-align: center;
  margin-bottom: 1px;
}

.barre-justified > li > a > img{
width:30%;
}


.barre-pills > li {
  float: left;
}
.barre-pills > li > a {
  border-radius: 2px;
}
.barre-pills > li + li {
  margin-left: 2px;
}

.barre-justified > li, .barre-tabs.barre-justified > li {
  float: none;
}
.barre-pills > li.active > a > img, .barre-pills > li.active > a > img:hover, .barre-pills > li.active > a > img:focus {
  color: #fff;
  background-color: #F7F25B;
  border-radius: 50%;
padding:10px;
}




.card-distributed{
  width: 100%;
  text-align: left;
  font: 18px 'New Century Schoolbook', serif;
  border-radius: 4px;
}
.card-distributed ul h5{
   list-style:none;
   font-size: 20px;
 }
.card-left{
  width:33%;
  display:inline-block;
  vertical-align:top;
  float:left;
}
.card-center{
  width:33%;
  display:inline-block;
  vertical-align:top;
  float:left;
}
.card-right{
  width:33%;
  display:inline-block;
  vertical-align:top;
}
.card-home-left{
  width:70%;
  display:inline-block;
  vertical-align:top;
}
.card-home-left ul{
  padding-left:10px;
  margin-left:30px;
}


.card-home-right{
  width:30%;
  display:inline-block;
  float:right;
}

.card-home-right ul{
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 0px;
}
.image{
  list-style:none;
  text-align:center;
}
.card-home-down{
  width:100%;
  display:inline-block;
  vertical-align:top;
}
.card-home-down ul{
  padding-left:10px;
  margin-left:30px;
}

.card-activite-down{
  width:100%;
  display:inline-block;
  vertical-align:top;
}
.card-activite-down p{
  padding-left:10px;
  margin-left:30px;
}
.card-activite-down ul{
  padding-left:10px;
  margin-left:30px;
}


.card-ldo .first{
  position: relative;
  width:100%;
  display: flex;
  justify-content: space-around;
}

.card-ldo-left{
  width:49%;
  display:inline-block;
  height: 208px;
  }

.card-ldo-left table {
margin: 40px auto;
}

.card-ldo-left td{
  padding : 10px;
}

.card-ldo-right{
width:49%;
  vertical-align:top;
  display:inline-block;


}
.card-ldo-right f{
 text-align:center;
 padding-top:18px;
}
.card-ldo-down{
  width:100%;
  text-align: center;
  padding-top:18px;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 171px;
}


.card-index table {
  margin: 30px;
}


.errors, .errors li {
  color:red;
  font:16px;
  list-style: none;

}




@media (min-width: 880px) {
  /* line 177, /usr/local/opt/rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_barres.scss */
  .barre-justified > li, .barre-tabs.barre-justified > li {
    display: table-cell;
    width: 1%;
  }

  .barre-justified > li > a > img{
    width: 145px ;
  }

  /* line 180, /usr/local/opt/rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_barres.scss */
  .barre-justified > li > a, .barre-tabs.barre-justified > li > a {
    margin-bottom: 0;
  }
}
@media (max-width: 880px) {
  .card-description .card-distributed .card-home-left,
  .card-description .card-distributed .card-home-right{
    display: inline-block;
    width:100%;
    float:none;
    }

  .card-description{
    padding-left: 10px;
    padding-right: 10px;
  }

.card-description p{
text-align:left;

}
  .card-left, .card-center, .card-right{
    width:100%;
    display:inline-block;
    vertical-align:top;
    float:none;
  }


.card-ldo-right, .card-ldo-left{
width:100%;
 display:inline-block;

}

}
