<div class="banner-description">
  <div id="banner-distributed">

    <div id="banner-left">
      <ul>
        <li>
          <img src="../assets/logo modifié meme propo.png", alt="Krabbelstuff logo", width=100% />
        </li>
        <li> Crèche 0-4 ans</li>
        <li> Heiderscheid</li>
      </ul>
    </div>

    <div id="banner-right" >
      <ul>
        <li><img src="../assets/photo-karbbelstuff.png", alt="Krabbelstuff photo", width=100% /></li>
      </ul>
    </div>
    <div class="banner-down-center">
        CRECHE AGREE ET CONVENTIONNEE PAR LE MINISTERE DE L’EDUCATION NATIONALE
    </div>
  </div>

</div>
