<div class="card-description">
  <div id="carrousel">
    <div id="slide1" class="slide">
      <div class="visu">
        <img src="assets/1.jpg"/>
       </div>
    </div>
    <div id="slide2" class="slide">
      <div class="visu">
        <img src="assets/2.jpg"/>
       </div>
      </div>
    <div id="slide3" class="slide">
      <div class="visu">
        <img src="assets/3.jpg"/>
      </div>
    </div>
  </div>
</div>


