<div id="content">
  <div class="container-fluid">
    <%= render "banner"%>
      <div class="card-description">
        <ul class="barre barre-pills barre-justified">
          <li><a href="home">Home</a></li>
          <li class='active'><a href="accueil">Accueil</a></li>
          <li><a href="concept">Concept</a></li>
          <li ><a href="activite">Activités</a></li>
         <li><a href="livredor">Livre d'or</a></li>
        </ul>
      </div>
      <div class="card-description text-center">
        <h2> <strong> "Le véritable enseignement n’est point de te parler mais de te conduire"</strong></h2>
                    <h3>- Antoine de Saint-Exupéry</h3>
      </div>


      <div class="card-description">
        <div id="carrousel">
          <div id="slide1" class="slide">
            <div class="visu">
              <img src="assets/1.jpg"/>
            </div>
          </div>
          <div id="slide2" class="slide">
            <div class="visu">
              <img src="assets/2.jpg"/>
            </div>
          </div>
          <div id="slide3" class="slide">
            <div class="visu">
              <img src="assets/3.jpg"/>
            </div>
          </div>
          <div id="slide4" class="slide">
            <div class="visu">
              <img src="assets/4.jpeg"/>
            </div>
          </div>
          <div id="slide5" class="slide">
            <div class="visu">
              <img src="assets/5.jpeg"/>
            </div>
          </div>
        </div>
      </div>



      <div class="card-description">
            <p class="changement"><i><strong>Notre but est de « forger et cultiver le plaisir d’apprendre, de découvrir et d’agir ».</strong></i></p>
            <p>Les petits enfants seront accueillis dans notre maison sans discrimination philosophique, religieuse ou raciale.</p>
           <h2><strong><u>Notre mission :</u></strong></h2>
                <ul>
                  <li>permettre à chaque enfant à avoir confiance en sa capacité d’apprendre et à stimuler sa participation dans le groupe selon ses capacités liées à son âge ;</li>
                  <li>développer des activités éducatives, pédagogiques, sociales et culturelles ;</li>
                  <li>travail de prévention pour la petite enfance.</li>
                </ul>
              <p>Notre maison prépare à la vie et à la scolarisation. Elle aide les enfants à grandir et à se développer en étant riches de leurs différences.</p>
              <p>Notre maison accueillera chaque enfant tel qu’il est avec ses capacités et ses faiblesses, sans discriminations aucunes.</p>
              <P>Nous sommes un « relais », un milieu d’accompagnement des petits enfants en partenariat avec les parents, en les impliquant et en les soutenants par notre motivation dans leurs démarches. Ils trouvent chez nous écoute et soutien. Nous organisons des échanges journaliers.</p>
              <p>Notre action est entreprise en partenariat l’environnement : produits de la firme ARE-RESTO qui privilégie les produits Luxembourgeois et issus du commerce équitable ainsi que les langes et lingettes bio hypoallergéniques.</p>
              <p>Les boissons proviennent du commerce local et uniquement en bouteilles en verre. : « Boissons Wallers ». Pas d’eau du robinet !</p>
              <p>Nos règles d’hygiène sont très strictes : désinfection et lavage des draps journaliers."</p>
            </td>
          </tr>
        </table>
      </div>
    <%=render "footer"%>
  </div>
</div>
