<div id="content">
  <div class="container-fluid">
    <%= render "banner"%>
      <div class="card-description">
        <ul class="barre barre-pills barre-justified">
          <li><a href="home">Home</a></li>
          <li><a href="accueil">Accueil</a></li>
          <li class='active'><a href="concept">Concept</a></li>
          <li ><a href="activite">Activités</a></li>
          <li><a href="livredor">Livre d'or</a></li>
        </ul>
      </div>

      <div class="card-description text-center">
        <h2> <strong> "Il faut aimer l'enfant pour ce qu'il est et non pour ce qu'on veut qu'il soit."</strong></h2>
        <h3>- Janusz Korczack</h3>
      </div>



      <div class="card-description">
        <div id="carrousel">
          <div id="slide1" class="slide">
            <div class="visu">
              <img src="assets/1.jpg"/>
            </div>
          </div>
          <div id="slide2" class="slide">
            <div class="visu">
              <img src="assets/2.jpg"/>
            </div>
          </div>
          <div id="slide3" class="slide">
            <div class="visu">
              <img src="assets/3.jpg"/>
            </div>
          </div>
          <div id="slide4" class="slide">
            <div class="visu">
              <img src="assets/4.jpeg"/>
            </div>
          </div>
          <div id="slide5" class="slide">
            <div class="visu">
              <img src="assets/5.jpeg"/>
            </div>
          </div>
        </div>
      </div>



      <div class="card-description">
        <div class="card-distributed">
        <h2><strong><u>Objectifs de travail :</u></strong></h2>
          <div class="card-left">
            <ul>
              <h5>Les 0 - 1 an : « le cocooning »</h5>
              <li>Favoriser les interactions avec l’entourage, </li>
              <li>Apporter la sécurité du cocon familial aux petits enfants,</li>
              <li>Privilégier leurs rythmes, </li>
              <li>Adoucir les séparations avec leurs mamans et les rassurer.</li>
            </ul>
          </div>
          <div class="card-center">
            <ul>
              <h5>Les 1 - 2 ans : « l’éveil »</h5>
              <li>Susciter leur intérêt via des ateliers :
              (Gym douce, comptines, cache-cache, éveil musical, …),</li>
              <li>Aide à l’acquisition de la marche,</li>
              <li>Aide à l’acquisition de la parole : initiation au luxembourgeois,</li>
              <li>Aide pour manger seul et avec des couverts,</li>
              <li>Découverte de l’environnement et éveil à la collectivité,</li>
              <li>Apprentissage du jeu seul et en groupe,</li>
              <li>Aide à accepter les interdits,</li>
              <li>Aide pour sortir de «l’égocentrisme du tout petit».</li>
            </ul>
          </div>
          <div class="card-right">
            <ul>
                <h5>Les 2 - 4   ans : « l’apprentissage par le je(u)</h5>
                <li>Acquisition de l’autonomie et de la propreté,</li>
                <li>Perfectionnement de la marche,</li>
                <li>Perfectionnement du langage : jeux de mots etc…,</li>
                <li>Communication avec l’enfant et l’apaiser dans sa crise d’opposition,</li>
                <li>Développer son côté artistique et son habilité manuelle, </li>
                <li>Favoriser les découvertes via les ateliers de jeux,</li>
                <li>Valoriser le petit enfant dans ses activités pour avoir confiance en soi,</li>
                <li>Développer son imaginaire</li>
                <li>Apprentissage à s’habiller et se déshabiller seul,</li>
                <li>Séance de psychomotricité : gym et natation chaque semaine.</li>
            </ul>
          </div>
        </div>
      </div>
    <%=render "footer"%>
  </div>
</div>
