<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li><%= image_tag("logo3.png", alt: 'Krabbelstuff logo',)%></li>

          </ul>
        </div>

        <div id="banner-right" >
          <ul>
            <li><%= image_tag("photo-karbbelstuff.png", alt: '"Krabbelstuff photo',) %></li>
          </ul>
        </div>

        <div class="banner-down-center">

        </div>
      </div>
    </div>
