<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li><%= image_tag("logo3.png", alt: 'Krabbelstuff logo',)%></li>
          </ul>
        </div>
        <div id="banner-right-fixe" >
          <ul>
            <li><%= image_tag("photo-karbbelstuff.png", alt: '"Krabbelstuff photo',) %></li>
          </ul>
        </div>
      </div>
      <div class="banner-down-center">
     <p>CR&#200;CHE ASBL D’INSPIRATION MONTESSORI</p><p> AGR&#201;&#201;E ET CONVENTIONN&#201;E PAR LE MINIST&#200;RE DE L’&#201;DUCATION NATIONALE ET LA COMMUNE D'ESCH-SUR-S&Ucirc;RE</p>
      </div>
    </div>

