<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li class="bébé"><%= image_tag("logo.png", alt: 'Krabbelstuff logo',)%></li>

          </ul>
        </div>
        <div id="banner-right" >
          <div class="carousel-data">
            <ul>
              <li><%= image_tag("bébé1.jpg", alt: '1') %></li>
              <li><%= image_tag("bebe-de-3-mois.jpg", alt: '2') %></li>
              <li><%= image_tag("bébéjeu5.jpg", alt: '3') %></li>
            </ul>
          </div>

          <div class="carousel-wrapper">
            <div class="carousel-image-title">
              <div class="carousel-image"><img src="" alt="" />
              </div>
            </div>
            <div class="carousel-nav"></div>
          </div>
        </div>
      </div>
    </div>


