<div id="content">
  <div class="container-fluid">
    <div class="banner-description">
      <div id="banner-distributed">
        <div id="banner-left">
          <ul>
            <li><%= image_tag("logo modifié meme propo2.png", width: '100%', alt: 'Krabbelstuff logo',)%></li>
            <li> <%= image_tag("texte_creche.png", width: '50%', alt: 'texte creche',) %></li>
             <li>No d'agrément: MR467/6</li>
          </ul>
        </div>

        <div id="banner-right" >
          <ul>
            <li><%= image_tag("photo-karbbelstuff.png", width:'100%', alt: '"Krabbelstuff photo',) %></li>
          </ul>
        </div>

        <div class="banner-down-center">

        </div>
      </div>
    </div>
