
<div class="footer-description">
  <div id="footer-distributed">
    <div id="footer-left">
      <ul>
        <li><u>Nous contacter : </u></li>
        <li>Crèche Krabbelstuff</li>
        <li>4 an der Gaass</li>
        <li>L-9157 Heiderscheid</li>
        <li>Tél : +352 26 88 90 28</li>
        <li>Mail : krabbels@pt.lu</li>
        <li> <a href="impressum">Impressum</a></li>
      </ul>
    </div>
    <div id="footer-right" >
      <ul>
        <li></li>
        <li><u>Heures d’ouverture :</u></li>
        <li>7:00 - 18:15</li>
        <li> du lundi au vendredi </li>
        <li>Jours de fermeture communiqués à l’avance par la crèche</li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

